
<html>
{% load staticfiles %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400' rel='stylesheet' type='text/css'>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>{% block title %}Destination Map{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}"/> 

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">localmeal</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class><a href="/clients/menu/">Menu</a></li>
          <li class><a href="/clients/log/">Order History</a></li>
          {% if not user.is_authenticated %}
            <li class="active"><a href="/clients/login">Log In</a></li>
          {% else %}
            <li class="active"><a href="/clients/logout">Log Out</a></li>
          {% endif %}
        </ul>
      </section>
    </nav>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type= "text/javascript" src= "https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">


  var origins = [
    "Swarthmore College",
    "Haverford College",
    {% for delivery in list %}
      "{{ delivery }}",
    {% endfor %}
  ];

  var destinations = [
    {% for delivery in list %}
      "{{ delivery }}",
    {% endfor %}

  ];

function add_destination(){
    var str = document.getElementById("txt");
    
    destinations.push(str.value);
    //console.log(destinations);

    str.value = "";
    str.focus();
    var area = document.getElementById("txt");
    area.value = "";

    
    updateMatrix();
    populateTable(rows);
    getRouteFunction(i, j); 
    showRoute();
    updateMode();
    updateUnits();
    addRow(table);
    addElement(tr, id);
 

}

  var query = {
    origins: origins,
    destinations: destinations,
    travelMode: google.maps.TravelMode.WALKING,
    unitSystem: google.maps.UnitSystem.IMPERIAL
  };

  var map, dms;
  var dirService, dirRenderer;
  var highlightedCell;
  var routeQuery;
  var bounds;
  var panning = false;

  function initialize() {
    var mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(39.9050, -75.3539),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    directionsDisplay = new google.maps.DirectionsRenderer();
    createTable();

    for (var i = 0; i < origins.length; i++) {
      origins[i] += ' College, , US';
    }

    for (var j = 0; j < destinations.length; j++) {
      destinations[j] += ', , US';
    }

    dms = new google.maps.DistanceMatrixService();

    dirService = new google.maps.DirectionsService();
    dirRenderer = new google.maps.DirectionsRenderer({preserveViewport:true});
    dirRenderer.setMap(map);

    google.maps.event.addListener(map, 'idle', function() {
      if (panning) {
        map.fitBounds(bounds);
        panning = false;
      }
    });
    
    updateMatrix();
  }

  function updateMatrix() {
    dms.getDistanceMatrix(query, function(response, status) {
        if (status == "OK") {
          populateTable(response.rows);
        }
      }
    );
  }

  function createTable() {
    var table = document.getElementById('matrix');
    var tr = addRow(table);
    addElement(tr);

    for (var j = 0; j < 10; j++) {
      var td = addElement(tr);
      
        td.setAttribute("class", "destination");  
      
      if(typeof destinations[j]!== "undefined"){
        td.appendChild(document.createTextNode(destinations[j]));
        }
    }


    for (var i = 0; i < origins.length; i++) {
      var tr = addRow(table);
      var td = addElement(tr);
      td.setAttribute("class", "origin");
      td.appendChild(document.createTextNode(origins[i]));
      for (var j = 0; j < 10; j++) {
        var td = addElement(tr, 'element-' + i + '-' + j);
        td.onmouseover = getRouteFunction(i,j);
        td.onclick = getRouteFunction(i,j);
      }
    }
  }

  function populateTable(rows) {
    for (var i = 0; i < rows.length; i++) {
      for (var j = 0; j < rows[i].elements.length; j++) {
        var distance = rows[i].elements[j].distance.text;
        var duration = rows[i].elements[j].duration.text;

        
        var td = document.getElementById('element-' + i + '-' + j);


        td.innerHTML = distance + "<br/>" + duration;

      }
    }
    condition = 1;
  }

  function getRouteFunction(i, j) {
    return function() {
      routeQuery = {
        origin: origins[i],
        destination: destinations[j],
        travelMode: query.travelMode,
        unitSystem: query.unitSystem,
      };
      
      if (highlightedCell) {
        highlightedCell.style.backgroundColor="#ffffff";
      }
      highlightedCell = document.getElementById('element-' + i + '-' + j);
      highlightedCell.style.backgroundColor="#e0ffff";
      
      showRoute();

    }
  }

  function showRoute() {
    dirService.route(routeQuery, function(result, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        dirRenderer.setDirections(result);
        bounds = new google.maps.LatLngBounds();
        bounds.extend(result.routes[0].overview_path[0]);
        var k = result.routes[0].overview_path.length;
        bounds.extend(result.routes[0].overview_path[k-1]);
        panning = true;
        map.panTo(bounds.getCenter());        
      }
    });
  }

  function updateMode() {
    switch (document.getElementById("mode").value) {
      case "driving":
        query.travelMode = google.maps.TravelMode.DRIVING;
        break;
      case "walking":
        query.travelMode = google.maps.TravelMode.WALKING;
        break;
    }
    updateMatrix();
    if (routeQuery) {
      routeQuery.travelMode = query.travelMode;
      showRoute();
    }
  }

  function updateUnits() {
    switch (document.getElementById("units").value) {
      case "km":
        query.unitSystem = google.maps.UnitSystem.METRIC;
        break;
      case "mi":
        query.unitSystem = google.maps.UnitSystem.IMPERIAL;
        break;
    }
    updateMatrix();
  }

  function addRow(table) {
    var tr = document.createElement('tr');
    table.appendChild(tr);
    return tr;
  }

  function addElement(tr, id) {
    var td = document.createElement('td');
    if (id) {
      td.setAttribute('id', id);
    }
    tr.appendChild(td);
    return td;
  }



</script>

    </head>
    
    <body onload="initialize()">
        
      <div class = "row">
        <div class="small-6 small-centered columns">
          <h2 class="text-center">Delivery Locations</h2>
        </div>
      </div>  
      <div class = "row">
        <div class = "large-12 large-offset-3 small-centered columns">
          <div id="map"></div>
        </div>
        <div class = "large-12 small-centered columns">
          <table id="matrix"></table>
        </div>
      </div>
    </body>
</html>
